.container {
    width: 1024px;
    margin: 0 auto;
}

.widget__filter {
    width: 400px;
    display: inline-block;
    float: left;
}

.widget__list {
    display: inline-block;
}

.flight {
    margin-bottom: 10px;
}